body {
  font-family: system-ui;
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(43, 131, 255, 0.731); /* cor de fundo provisoria */
}


body.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: rgb(255, 255, 255);
}

header img {
  max-height: 50px;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu-button .bar {
  background-color: #333;
  height: 4px;
  width: 100%;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.menu-button.active .bar1 {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button.active .bar2 {
  opacity: 0;
}

.menu-button.active .bar3 {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

nav {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #0eb3ffea;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}

nav ul li a:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.hidden {
  transform: translateX(-100%);
}

nav:not(.hidden) {
  transform: translateX(0);
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

article {
  color: #0eb3ffea;
  position: relative; /* Ensure position relative for the pseudo-element */
  text-align: center;
  background-color: #282828;
  width: 65%;
  margin: 50px auto 80px;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden; /* Ensures content doesn't overflow the border */
}

article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; 
  height: 100%;
  background: linear-gradient(to bottom, #0eb3ffea, #a600f9); /* Gradient color */
}

article img {
  width: 65%;
  margin-bottom: 20px;
  border-radius: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: 0.8;
  transition: ease-in-out 90ms;
}

footer {
  text-align: center;
  background-color: #282828;
  color: #ffffffea;
  margin: 0;
  padding: 20px;
}
